<div class="mt-4">
  <h4>Создание тура</h4>
  <p>Для создания тура необходимо заполнить все поля формы. После этого нажать кнопку "Создать тур".</p>
  <div class="mt-3 user-info" [formGroup]="tourForm">
    <div class="mt-3">
      <label for="name">Название тура</label>
      <input type="text" class="form-control" id="name" formControlName="name" pInputText>
    </div>
    <div class="mt-3">
      <label for="description">Описание тура</label>
      <input class="form-control" id="description" formControlName="description" pInputText>
    </div>
    <div class="mt-3">
      <label for="price">Цена</label>
      <input type="number" class="form-control" id="price" formControlName="price" pInputText>
    </div>
    <div class="mt-3">
      <label for="tourOperator">Оператор</label>
      <input type="text" class="form-control" id="tourOperator" formControlName="tourOperator" pInputText>
    </div>

    <div class="mt-3">
      <label for="file">Фотография</label>
      <input type="file"
             class="form-control"
             id="file"
             (change)="selectFile($event)"
             formControlName="file"
             accept="image/*"
             pInputText>
    </div>


    <div class="mt-4">
      <button type="button" class="btn btn-primary" (click)="createTour()" [disabled]="tourForm.invalid">Создать тур
      </button>
    </div>
  </div>
</div>
